@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("../public/images/bg-sidebar-mobile.svg");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 32px 16px;
  height: 100vh;
  background-color: #eff5ff;
}

@media (min-width: 768px) {
  body {
    background-image: url("../public/images/bg-sidebar-desktop.svg");
    background-size: auto;
  }
}
